/*=== Style ===*/
/*=== Import Raleway fonts ===*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/*=== Import icon fonts (http://weloveiconfonts.com) ===*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* entypo */
[class*="fontawesome-"]:before { font-family: 'fontawesome', sans-serif }
/*=== Reset & General style ===*/
* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Raleway",Helvetica;
}
/*=== Let's style the elements ===*/
#select {
    width: 600px;
    height: 475px;
    background: #e47168;
    position: relative;
    opacity: .8;
    margin: 40px auto;
    /*border-radius*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-bottom: 4px solid #cac6c4;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*box-shadow*/
    -webkit-box-shadow: 0 5px 25px rgba(0,0,0,.15);
    -moz-box-shadow: 0 5px 25px rgba(0,0,0,.15);
    box-shadow: 0 5px 25px rgba(0,0,0,.15);
}
/* form elements */
.form-element { padding: 0 0 10px }
    .form-element h2 { margin: 0 0 43px -10px }
.search-holder {
    width: 899px;
    margin: 0 0 42px;
}
/* search form without a button */
    .search-holder .search {
        float: left;
        width: 442px;
    }
.search-form {
    padding: 17px 18px 20px 20px;
    width: 404px;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
    .search-form h3,
    .tab-menu h3,
    .slider h3,
    .upload-form h3,
    .rate-01 h3 {
        font-size: 22px;
        line-height: 24px;
        font-weight: normal;
        color: #7e8c8d;
        text-transform: uppercase;
        margin: 0 0 12px;
    }
    .search-form .text { margin: 0 }
    .search-form .text:after {
        background: url(../images/ico-magnifier-02.png) no-repeat;
        width: 20px;
        height: 20px;
        top: 9px;
        right: 15px;
    }
    .search-form input[type="text"] {
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        color: #b3b7b7;
        padding: 7px 46px 8px 13px;
        height: 37px;
    }
    .search-form input[type="submit"] {
        float: right;
        font-size: 18px;
        line-height: 37px;
        background: #9ab26b;
        width: 102px;
        height: 37px;
        padding: 0 0 3px;
    }
/* search form with a button */
.search-holder .search-right {
    float: right;
    width: 442px;
}
.search-form.type-02 .row { overflow: hidden }
.search-form.type-02 .text {
    margin: 0;
    float: left;
    width: 284px;
    padding: 0 0 0 1px;
}
.search-form.type-02 .text:after { right: 9px }
.search-form.type-02 input[type="text"] { padding-right: 38px }
.menu-holder {
    width: 900px;
    margin: 0 0 48px;
}
/*=== The header ===*/
.heads {
    width: 50%;
    height: 100%;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    padding: 10px 10px;
    background: #e47168;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 7% auto;
}
#head {
    width: 100%;
    height: 25%;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    padding: 1px 10px;
    background: #e47168;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 2.5%;
}
    #head a,
    #head h1 {
        float: left;
        width: 48%;
        color: #F7F7F7;
        line-height: 1.4;
    }
    #head h1 {
        padding-left: 25px;
        width: 100%;
    }
    #head a {
        font-size: 1.8em;
        text-decoration: none;
        line-height: 3;
        text-align: right;
    }
/*=== The content (after the header) ===*/
#content {
    background: #F7F7F1;
    height: 100%;
    /*border-radius*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
    #content #list div {
        height: 10% !important;
        width: 100%;
        /*box-shadow*/
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 0 rgba(0,0,0,.1);
        padding: 2.34%;
        cursor: pointer;
    }
/*=== Put border radius only on the bottom angles, to avoid the selection by class, I decide to use some pseudo-classes (:last-child) ===*/
    #content #list div:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
/*=== The images ===*/
#list div i {
    display: block;
    width: 90px;
    height: 90px;
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 34px;
    /*box-shadow*/
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.15);
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}
/*=== Put a kind of shadow over the image ===*/
#list div i:after {
    content: '';
    position: absolute;
    z-index: 3;
    display: block;
    width: 90px;
    height: 90px;
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 0px;
    /*box-shadow*/
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.2);
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    /*linear-gradient*/
    background: -webkit-gradient(linear,50% 100%,50% 0,color-stop(transparent,0.5),color-stop(rgba(0,0,0,.5),0.5));
    background: -webkit-linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
    background: -moz-linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
    background: -o-linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
    background: linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
}
#list div:nth-child(1) i {

    /*background-size*/
    -webkit-background-size: /*@@prefixmycss->No equivalent*/; -moz-background-size:cover;
    -o-background-size: /*@@prefixmycss->No equivalent*/; background-size:cover;
}
#list div:nth-child(2) i {

    /*background-size*/
    -webkit-background-size: /*@@prefixmycss->No equivalent*/; -moz-background-size:cover;
    -o-background-size: /*@@prefixmycss->No equivalent*/; background-size:cover;
}
#list div:nth-child(3) i {

    /*background-size*/
    -webkit-background-size: /*@@prefixmycss->No equivalent*/; -moz-background-size:cover;
    -o-background-size: /*@@prefixmycss->No equivalent*/; background-size:cover;
}
#list div span[class*="chevron-right"] {
    float: right;
    display: block;
    margin: -55px 40px;
    font-size: 1.6em;
    color: #616b74;
}
#list div:hover { background: #616b74 }
    #list div:hover span[class*="chevron-right"],
    #list div:hover h3 a { color: #F7F7F1 }
#list h3 {
    display: block;
    height: 100%;
    width: 180px;
    float: left;
    margin: -55px 160px;
    color: #616b74;
    font-size: 1.4em;
}
    #list h3 a {
        color: #616b74;
        text-decoration: none;
        font-family: Raleway;
        font-weight: 300;
    }
/* class */
.arrow { display: block }
.arrow:after {
    content: '▶';
    display: block;
    font-size: .50em;
    color: #F7F7F1;
    margin: -66px 8px;
}
body { margin-top: 50px }
#wrapper { padding-left: 0 }
#page-wrapper {
    width: 100%;
    padding: 5px 15px;
}
/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time { display: block }
.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}
.messages-dropdown .dropdown-menu .message-preview .name { font-weight: bold }
.messages-dropdown .dropdown-menu .message-preview .message { font-size: 12px }
.messages-dropdown .dropdown-menu .message-preview .time { font-size: 12px }
/* Nav Announcements */
.announcement-heading {
    font-size: 50px;
    margin: 0;
}
.announcement-text { margin: 0 }
/* Table Headers */
table.tablesorter thead { cursor: pointer }
    table.tablesorter thead tr th:hover { background-color: #f5f5f5 }
/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {
	/* Wrappers */
	#wrapper { padding-left: 225px }
	#page-wrapper { padding: 15px 25px }
	/* Side Nav */
	.side-nav {
	    margin-left: -225px;
	    left: 225px;
	    width: 225px;
	    position: fixed;
	    top: 50px;
	    height: 100%;
	    border-radius: 0;
	    border: none;
	    background-color: #222222;
	    overflow-y: auto;
	}
	/* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */
	.side-nav>li.dropdown>ul.dropdown-menu {
	    position: relative;
	    min-width: 225px;
	    margin: 0;
	    padding: 0;
	    border: none;
	    border-radius: 0;
	    background-color: transparent;
	    box-shadow: none;
	    -webkit-box-shadow: none;
	}
	.side-nav>li.dropdown>ul.dropdown-menu>li>a {
	    color: #999999;
	    padding: 15px 15px 15px 25px;
	}
	.side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
	.side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
	.side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	    color: #fff;
	    background-color: #080808;
	}
	.side-nav>li>a { width: 225px }
	.navbar-inverse .navbar-nav>li>a:hover,
	.navbar-inverse .navbar-nav>li>a:focus { background-color: #080808 }
	/* Nav Messages */
	.messages-dropdown .dropdown-menu { min-width: 300px }
	    .messages-dropdown .dropdown-menu li a { white-space: normal }
}
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}
*,
*:before,
*:after { -moz-box-sizing: border-box }
.navbar-collapse:after { clear: both }
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after { clear: both }
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}
*,
*:before,
*:after { -moz-box-sizing: border-box }
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form { border-color: #101010 }
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}
.collapse { display: none }
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}
.navbar-collapse {
    border-top: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    max-height: 340px;
    overflow-x: visible;
    padding-left: 15px;
    padding-right: 15px;
}
*,
*:before,
*:after { -moz-box-sizing: border-box }
.create h1 {
    color: #7C838C;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 25px;
}
.create p {
    color: #7C838C;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}
.create .btn { font-size: 14px }
.create form {
    padding: 0;
    text-align: left;
}
    .create form input[type="submit"] {   }
label {
    color: #7C838C;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    padding-left: 25px;
    position: relative;
}
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
}
input[type="checkbox"] { display: none }
input[type="checkbox"]:checked + label:before {
    color: #4DAB7D;
    content: "✓";
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
input[type=radio] { display: none }
input[type="radio"]:checked + label:before {
    color: #4DAB7D;
    content: "✓";
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.content { display: none }
#Election label.error {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    color: #FF404B;
    font-size: 20px;
    margin-bottom: 25px;
}
input[type="text"],
input[type="password"],
textarea {
    border: 2px solid #DDDEDF;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0.5em;
    transition: all 0.1s ease 0s;
    width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #C3C5C6;
    outline-color: #1FA086;
}
.styled-select select {
    border-color: #C3C5C6;
    outline-color: #1FA086;
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    transition: all 0.1s ease 0s;
    width: 100%;
}
textarea { resize: vertical }
textarea,
input { font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif }
textarea.dragOver {
    border-color: #4DAB7D;
    box-shadow: 0 0 3px #4DAB7D;
    transition: transform 1s ease 0s;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #fff -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
    margin: 30px 0;
}
.info img {
  	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.info h5 {
  padding: 10px 10px 0 0;
  margin: 0 0 10px 3px;
  text-align:center;
  line-height: 1em;
  opacity: 1;
  transition: all .2s ease-out .1s;
   -moz-transition: all .2s ease-out .1s;
   -webkit-transition: all .2s ease-out .1s;
  font-size: 1.125em;
}

